{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Contacts{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
  contacts table
  <tbody>
  {% for contact in contacts %}
    <tr>
      <td>id: {{ contact['id'] }}</td>
      <td>name: {{ contact['name'] }}</td>
      <td>email: {{ contact['email'] }}</td>
      <td>phone: {{ contact['phone'] }}</td>
      <td>message: {{ contact['messageBody'] }}</td>
  </tr>
   {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endblock %}
