{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}an aesthete's paradise...{% endblock %}</h1>
{% endblock %}

{% block content %}
<section id="images">
  <img class="art" src="{{ url_for('static', filename='image0.jpeg') }}" alt="Two cool dudes">
  <img class="art" src="{{ url_for('static', filename='image1.jpeg') }}" alt="Pair of cube paintings">
  <img class="art" src="{{ url_for('static', filename='image2.jpeg') }}" alt="Beetlejuice mural">
  <img class="art" src="{{ url_for('static', filename='image3.jpeg') }}" alt="Pair of cube paintings again">
</section>
{% endblock %}

